.quantity-btn {
    width: 45px;
    //height: 45px;
    margin: 5px;
    //background-color: #00bb00;
}

.quantity-btn--minus {
    margin-right: 0;
    margin-left: 0;
}

.quantity-btn--plus {
    margin-left: 0;
}